<h1><%= "#{t("actions.new")} #{FlexiShippingRate.human_name}" %></h1>

<%= error_messages_for :flexi_shipping_rate %>

<% form_for(:flexi_shipping_rate, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= submit_tag t("actions.create") %>
  </p>
<% end %>